%div My Tasks
- @tasks.each do |task|
  = render :partial => "tasks/summary", :locals => {:task => task, :include_actions => true}
- @groups.each do |group|
  - if group.tasks.present?
    .group= group.name + " tasks"
    - group.tasks.each do |task|
      = render :partial => "tasks/summary", :locals => {:task => task, :include_actions => true}
